/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss' source('../src');




body {
    background-color: #34A99D;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

